{* This is the welcome page, you can delete it *}

{block content}

	<div class="text-center">
		<a n:href="addItem!" class="btn btn-primary ajax">Vložit položku</a>
	</div>
{control itemGrid}

{/block}

{define modal-edit-title}
	{if $modalType == 'add'}
		Přidání položky
	{elseif $modalType == 'edit'}
		Úprava položky
	{/if}
{/define}
{define modal-edit-body}

	{if $modalType == 'add'}
		{control addItemForm}
	{elseif $modalType == 'edit'}
		{control editItemForm}
	{/if}
{/define}